game_app_service_path=D:\Users\xxx\tools\Toonflow-game\toonflow-game-app
game_app_web_path=D:\Users\xxx\tools\Toonflow-game\Toonflow-game-web
game_app_service_url=http://122.xxx:60002/
user_name=admin
user_psw=admin123
auth_token=xxx
work_in_path=ai_story/171